Repository lvnam96/homemade-food-app: changes, and which Codecov flags are due for each by the changed paths.
All: utils, services, modules/auth, modules/url

codecov.yml:

component_management:
  individual_components:
    - component_id: 'utils'
      paths:
        - 'app/utils/'
    - component_id: 'services'
      paths:
        - 'app/services/'
    - component_id: 'modules/auth'
      paths:
        - 'app/modules/auth/'
    - component_id: 'modules/url'
      paths:
        - 'app/modules/url/'

comment:
  layout: 'condensed_header, diff, flags, condensed_files, components, condensed_footer' # show component info in the PR comment
  # behavior: default
  # require_changes: false
  require_base: false # [true :: must have a base report to post]
  # require_head: true # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff]

chore: add icons to steps/jobs name for easy reading
  .github/workflows/codeql.yml
  .github/workflows/db-backup.yml
  .github/workflows/dbml.yml
  .github/workflows/deploy.yml
  .github/workflows/test-coverage.yml
Due: none

ci: improve workflows:
  .github/workflows/dbml.yml
  .github/workflows/deploy.yml
  .github/workflows/test-coverage.yml
Due: none

feat: implement `url` module
  app/modules/url/controller.test.ts
  app/modules/url/controller.ts
Due: modules/url

build(deps): install new deps
  package.json
  pnpm-lock.yaml
Due: none

chore(test): make use of testing framework's utils
  app/services/password.server.test.ts
Due: services

chore(utils): add more utils & tests for them
  app/utils/random.server.test.ts
  app/utils/types.test.ts
  app/utils/types.ts
  app/utils/url.test.ts
  app/utils/url.ts
Due: utils

feat(utils): implement `url` util helpers
  app/utils/url.test.ts
  app/utils/url.ts
Due: utils

feat(db): improve DB schema:
  app/.server/db/sql/schema.sql
Due: none

chore(config): set default casing option for `drizzle-kit`
  drizzle.config.ts
Due: none

chore(config): fix `prettier` options to make it work with SQL files
  .prettierrc
Due: none

feat(db): update DB schema
  app/.server/db/migrations/relations.ts
  app/.server/db/migrations/schema.ts
  app/.server/db/sql/schema.sql
Due: none

feat(db): create procedures (triggers) in addition to DB schema
  app/.server/db/sql/procedure.sql
  docker-compose.yml
Due: none

docs: improve npm scripts usage
  README.md
  package.json
Due: none

fix(dev): fix `corepack` issue preventing reinit new container:
  remix-dev.Dockerfile
Due: none

feat(dev): simplify offline local DB setup:
  .dockerignore
  .env.sample
  app/.server/db/index.ts
  app/.server/db/migrate.ts
  docker-compose.yml
Due: none

feat(services): implement `api` service & tests
  app/services/api.test.ts
  app/services/api.ts
Due: services

feat(utils): implement more `data` util helpers & tests
  app/utils/data.test.ts
  app/utils/data.ts
Due: utils

feat(utils): implement `token` util helpers & tests
  app/utils/token.test.ts
  app/utils/token.ts
Due: utils

feat(utils): implement `data` util helpers & tests
  app/utils/data.test.ts
  app/utils/data.ts
Due: utils

feat(server): implement `api` util helpers & tests
  app/.server/utils/api.test.ts
  app/.server/utils/api.ts
  app/env.d.ts
Due: none

chore: rename methods in `password` service
  app/services/password.server.test.ts
  app/services/password.server.ts
Due: services

chore(utils): implement more util helpers & their tests
  app/utils/data.test.ts
  app/utils/data.ts
  app/utils/date.test.ts
  app/utils/date.ts
  app/utils/types.test.ts
  app/utils/types.ts
Due: utils

fix(utils): rewrite `jwt` util helpers & update tests
  app/.server/utils/jwt.server.test.ts
  app/.server/utils/jwt.server.ts
  app/services/jwt.server.test.ts
  app/services/jwt.server.ts
Due: services

refactor(utils): move server-only modules to `/app/.server/` directory
  app/.server/db/index.ts
  app/.server/utils/import-env.ts
  app/.server/utils/jwt.test.ts
  app/.server/utils/jwt.ts
  app/.server/utils/password.test.ts
  app/.server/utils/password.ts
  app/.server/utils/random.test.ts
  app/.server/utils/random.ts
  app/entry.server.tsx
  app/services/password.server.test.ts
  drizzle.config.ts
  tests/setup/setup-test-env.ts
Due: services

refactor(services): implement more API-related helpers & their tests
  app/.server/utils/api.test.ts
  app/.server/utils/api.ts
  app/services/api.test.ts
  app/services/api.ts
Due: services

feat(auth): implement basic auth middlewares for API routes
  app/.server/api/middlewares.ts
Due: none

build(deps): install new dependency
  package.json
  pnpm-lock.yaml
Due: none

feat(auth): implement server-only module `auth`
  app/.server/modules/auth/index.test.ts
  app/.server/modules/auth/index.ts
  app/.server/modules/auth/models/session.ts
  app/.server/modules/auth/models/user.ts
  app/.server/modules/auth/types.ts
Due: none

chore: clarify API error code
  app/services/api.ts
Due: services

feat(api): implement more middlewares & tests
  app/.server/api/middlewares.test.ts
  app/.server/api/middlewares.ts
Due: none

fix(auth): update types of tokens' payload
  app/env.d.ts
Due: none

feat(api): implement auth (sign in, sign up, sign out) API routes
  app/.server/api/auth/index.ts
  app/routes.ts
Due: none

docs(dev): describe all container names & env variables
  README.md
Due: none

fix(api): handle runtime error thrown in middlewares at API handlers:
  app/.server/api/auth/index.ts
  app/.server/api/middlewares.test.ts
  app/.server/api/middlewares.ts
Due: none
